
@import "./helper/variable";
@import "./helper/mixin";
@import "./helper/extend";
@import "./component/button";
@import "./component/header_navbar";
@import "./component/header_sidebar";
@import "./component/form";
@import "./layout/body";
@import "./layout/foot";

////////////////////////////header//////
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


